<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="fonts.googleapis.com_css2_family=Jost_wght@400;700&display=swap.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles_05.css" />
    <script src="vue.js" defer></script>
    <script src="app_05.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Vue Course Goals</h1>
    </header>
    <section id="user-goals">
      <h2>My course goals</h2>
      <input type="text" v-model="enterGoalValue" v-if="goals.length > 0" />
      <button @click="addGoal">Add Goal</button>
      <p v-if="goals.length == 0">請加入目標內容!</p>
        <li  v-else>Goal</li>
      </ul>
    </section>
  </body>
</html>
